body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    background: #1b1c27;
    color: #fff;
    font-family: 'Ubuntu';
}

#logo {
    display: flex;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0px;
}

#line {
    position: relative;
    border-radius: 3px;
    height: 4px;
    background: white;
    border: none;
}

#luaU {
    position: relative;
}

#title {
    position: absolute;
    translate: 0px 400px;
    min-width: 681px;
    min-height: 290px;
}

#lua {
    position: relative;
    font-size: x-large;
}